.iframeezecentrado {
  grid-area: iframeezecentrado;
  display: flex;
  max-width: 400px;
  justify-content: center;
  width: 100%; }

.imghorizontal {
  align-self: center; }

.bgImagen {
  background-image: url(../assets/img/mainfotoladrillo.jpg); }

h1 {
  color: violet; }

h2 {
  color: violet; }

p {
  color: white; }

h3 {
  color: violet; }

a {
  text-decoration: none;
  color: black; }
