@media only screen and (max-width: 768px){

    .gridmobilecontacto{
        display: grid;
        grid-template-areas:
        "header" 
        "main" 
        "footer" 
        ;
        
    }
    header{
        grid-area: header;
        
        
    }
    nav{
        
        display: flex;
        flex-direction: column;
        max-width: 100vw;

    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
    .form-contacto{
        max-width: 300px;
    }
}



.form-contacto{
    align-items: center;
}

.form-contacto {
    width: 400px;
    background: violet;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-contacto h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controles {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
}

.form-contacto p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-contacto a {
    color: white;
    text-decoration: none;
  }
  
  .form-contacto a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-contacto .botones {
    width: 100%;
    background: #24303c;
    background: ;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }


