.bgImagen{
    background-image: url(../assets/img/mainfotoladrillo.jpg);

}
.iframeezecentrado{
    grid-area: iframeezecentrado;
    display: flex;
    max-width: 400px;
    justify-content: center;
    width: 100%;
    
}
h1{
    color: violet;
}
h2{
    color: violet;
}
p{
    color:white
}
h3{
    color: violet;
}

.imagen1centradanosotros img{
    width: 100%;
}
